globus-sdk>=3.0
h5py
httpx>=0.22.0
mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
numpy==1.23.2
pillow
python-dotenv
prefect==2.20.17
pyscicat
pyyaml
authlib
sfapi_client
globus-compute-sdk @ git+https://github.com/globus/globus-compute.git@d1731340074be56861ec91d732bdff44f8e2b46e#subdirectory=compute_sdk
griffe==0.47
prometheus_client==0.21.1
